`<h1>Hello {{name}}</h1>
  <div style='margin:10px;'>
  <div ><strong>Email-Id</strong></div>
  <div>{{EmailAddress}}</div>
  </div>
  
  <div style='margin:10px;'>
  <div><strong>Address</strong></div>
  <div>{{UserAddress.HouseNo}}, {{UserAddress.Street}}, {{UserAddress.City}} - {{UserAddress.Pin}}</div>
  </div>

  <div style='margin:10px;'>
  <div><strong>Hobbies</strong></div>
  <div>
  <ul>
  <li *ngFor="let hobbie of Hobbies; let i=index">
  {{hobbie}} <button (click)="removeHobbies(i)">X</button>
  </li>
  </ul>
  </div>
  </div>
<br/>
<h2>Update Form</h2>

  <div>
  <div>Name</div>
  <div>
  <input name='txtName' [(ngModel)]="name" class='form-control'/>
  </div>
  </div>
  <div>
  <div>Email</div>
  <div>
   <input name='txtEmail' [(ngModel)]="EmailAddress" class='form-control'/>
  </div>
  </div>
  <form (submit)="pushHobbies(hobbie.value)">
  <div>
    <div>Add Hobbies</div>
    <div>
        <input name='txtHobbie' #hobbie/>
</div>
    </div>
</form>

  
<div>
  <div>Address</div>
  <div style='float:left;'>
   <input name='txtHouseNo' [(ngModel)]="UserAddress.HouseNo" class='form-control'/>
   <input name='txtStreet' [(ngModel)]="UserAddress.Street" class='form-control'/>
   <input name='txtCity' [(ngModel)]="UserAddress.City" class='form-control'/>
   <input name='txtPin' [(ngModel)]="UserAddress.Pin" class='form-control'/>
   </div>
   </div>
   
